body {
  background-image: url("images/background.jpeg");
  background-size: cover;
  color: rgb(235, 251, 171);
  margin: 150px;
  font-family: "Playfair Display SC", serif;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 55px;
}

.col-md-3 {
  padding: 15px 0px;
}

.forecast-temp {
  font-size: 34px;
}

.button-location {
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 15px;
  background-color: rgb(224, 252, 111);
}

.button-location:hover {
  background-color: rgb(247, 219, 105);
}

#search-form {
  margin: auto;
}
.button-search {
  padding: 13px 20px;
  margin-top: -3px;
  font-size: 15px;
  border-radius: 15px;
  background-color: rgb(229, 248, 157);
}
#current-description {
  font-size: 28px;
  text-transform: capitalize;
}
.forecast-description {
  color: antiquewhite;
  font-size: 15px;
}

@media (max-width: 768px) {
  body {
    margin: 50px;
    background-image: url("images/phone-background.jpeg");
    background-size: cover;
  }
  form {
    max-width: 250px;
  }
}
