body {
  background-image: url("images/background.jpeg");
  background-size: cover;
  color: rgb(235, 251, 171);
  margin: 140px;
  font-family: "Playfair Display SC", serif;
}
.content {
  padding: 20px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 55px;
}
#current-country,
#coma {
  font-size: 45px;
  opacity: 80%;
}
.place {
  display: flex;
  align-items: baseline;
}
.col-md-3 {
  padding: 15px 0px;
}

.forecast-temp {
  font-size: 28px;
}

.button-location {
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 15px;
  background-color: rgb(224, 252, 111);
  color: black;
}

.button-location:hover {
  background-color: rgb(247, 219, 105);
}

.button-search {
  padding: 13px 20px;
  margin-top: -3px;
  border-radius: 15px;
  background-color: rgb(229, 248, 157);
  color: black;
}
#current-description {
  font-size: 28px;
  text-transform: capitalize;
}
#forecast-description {
  color: antiquewhite;
  font-size: 15px;
}

@media (max-width: 768px) {
  body {
    margin: 80px 40px;
    background-image: url("images/phone-background.jpeg");
    background-size: cover;
  }
  form {
    max-width: 200px;
  }

  .container .row > * {
    width: unset !important;
  }
  form .row {
    flex-wrap: unset !important;
  }
  .place {
    display: block;
  }
  #current-city {
    font-size: 45px;
    margin-bottom: 0px;
  }
  #coma {
    display: none;
  }
  #current-country {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #current-icon {
    width: 100%;
  }
}
